body, html{
  margin: 0px;
  padding: 0px;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  color: white;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
